body {
  background-color: #fdecf9;
  margin: 0;

  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
div {
  display: block;
}
form {
  display: block;
  margin-top: 0em;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
li:first-letter {
  text-transform: capitalize;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
i {
  font-size: 40px;
  margin: 20px 0 10px;
}
footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}
a {
  text-decoration: none;
  background-color: transparent;
}
footer a {
  color: #f50099;
}
.row {
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
  padding: 28px 30px 20px 0px;
}
.wheater-app-box {
  max-width: 800px;
  margin: 60px auto;
}
.wheater {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #878787;
}

.wheater .btn {
  background: #f50099;
  font-weight: 700;
  font-size: 16px;
  border: none;
  height: 50px;
}
.wheater .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.wheater-info {
  margin-top: 20px;
}
.wheater h1 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}
.wheater li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
.wheater ul {
  margin: 0;
  padding: 0;
}
.wheater li strong {
  color: #f50099;
  font-weight: 400;
}
.WeatherInfo .temperature-containerd-flex justify-content-end {
  margin-top: 30px;
}
.canvas {
  margin: 10px 0;
}
.temperature {
  color: #212121;
  font-weight: 300;
  margin-left: 10px;
  font-weight: 700;
  font-size: 70px;
  line-height: 1;
}
.unit {
  color: #212121;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin: 20px 0 10px;
}

.forecast-time {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}
.forecast-temperature {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #f50099;
  font-weight: 700;
  text-align: center;
}
*,
:after,
:before {
  box-sizing: border-box;
}

.wheater .btn:hover {
  background-color: rgba(39, 33, 66, 0.4);
}
